/*Base style*/
:root{

}
body{
font-family: 'Roboto', sans-serif;
}
ul,
ol {
    list-style-type: none;
}
a{
text-decoration: none;
}

/*Header styles*/
.header{

}
.hrader-nav{

}
.header-socials{

}

/*Hero styles*/
.hero-title{
    
}

